:root {
  --C100: #fff;
  --C200: #f5f5f5;
  --C300: #e4e4e4;
  --C400: #c1c4cb;
  --C500: #7c8187;
  --C600: #5a6069;
  --C700: #35393f;
  --C800: #2b2d31;
  --C900: #1d1f22;
  --C1000: #151619;
  --ORANGE: #e46643;
  --ORANGE-HOVER: #f39765;
}

:root[data-theme=light] {
  --color-text: #151619;
  --color-text-dark: #35393f;
  --color-background: #fff;
  --color-background-light: #f5f5f5;
  --color-mid: #f5f5f5;
  --color-light: #fff;
  --color-divider: #e4e4e4;
}

:root[data-theme=dark] {
  --color-text: #fff;
  --color-text-dark: #c1c4cb;
  --color-primary: #fff;
  --color-background: #151619;
  --color-background-light: #2b2d31;
  --color-mid: #1d1f22;
  --color-light: #151619;
  --color-divider: #5a6069;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}